In [2]:
'''
Class 2 Lab
'''

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
# read in the CSV file from a URL
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/sfdat22/master/data/drinks.csv', na_filter=False)

In [13]:
# 1. Show the first 17 rows of drinks
print drinks[0:17]

              country  beer_servings  spirit_servings  wine_servings  \
0         Afghanistan              0                0              0
1             Albania             89              132             54
2             Algeria             25                0             14
3             Andorra            245              138            312
4              Angola            217               57             45
5   Antigua & Barbuda            102              128             45
6           Argentina            193               25            221
7             Armenia             21              179             11
8           Australia            261               72            212
9             Austria            279               75            191
10         Azerbaijan             21               46              5
11            Bahamas            122              176             51
12            Bahrain             42               63              7
13         Bangladesh              0                0              0
14           Barbados            143              173             36
15            Belarus            142              373             42
16            Belgium            295               84            212

    total_litres_of_pure_alcohol continent
0                            0.0        AS
1                            4.9        EU
2                            0.7        AF
3                           12.4        EU
4                            5.9        AF
5                            4.9        NA
6                            8.3        SA
7                            3.8        EU
8                           10.4        OC
9                            9.7        EU
10                           1.3        EU
11                           6.3        NA
12                           2.0        AS
13                           0.0        AS
14                           6.3        NA
15                          14.4        EU
16                          10.5        EU

In [15]:
# 2. create a variable called beer_servings and use it to store the beer_servings column
beer_servings = drinks['beer_servings']
print beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [ ]:
# 3. Display a dataframe where the only rows are those with continent North America

In [ ]:
# 4. Create a new dataframe called north_america that holds your answer in 1.
# drinks (the dataframe) should remain unchanged

In [ ]:
# 5. What is the average wine consumption per person per year in Africa?

In [ ]:
# 6. Create a scatter plot between spirit servings and wine servings of all countries

In [ ]:
# 7. Show a list of the top 10 spirit drinking countries 
# (show only country names and spirit servings)

In [ ]:
# 8. Plot 6 histograms of wine servings by continent, 
# remember to share x and share y axis scales!

In [ ]:
# 9. What is the average wine consumption in South America?

In [2]:
# 10. Which continent has the highest on average wine consumption?